#menum ul
		{
			margin: 0;
			padding: 0;
			list-style: none;
			width: 480px;
			height: 40px;
		}
		#menum li{
			float: left;
		}
		#menum li a{
			display: block;
			width: 120px;
			height: 80px;
			outline: none;
			text-decoration: none;
			background: url(menu.png) 0 0 no-repeat;

		}
		li#Anasayfa a{
			background-position: 0 0;
		}
		li#Hakkımızda a{
			background-position: -120px 0;
		}
		li#Urunlerimiz a{
			background-position: -240px 0;
		}
		li#Iletisim a{
			background-position: -360px 0;
		}
		li#Anasayfa a:hover{
         background-position: 0 -94px;
		}
		li#Hakkımızda a:hover{
			background-position: -120px -94px;
		}
		li#Urunlerimiz a:hover{
			background-position: -240px -94px;
		}
		li#Iletisim a:hover{
			background-position: -360px -94px;
		}